body {
    font-family: Arial, sans-serif;
    margin: 0;
}

#principal {
    background-color: lightblue;
    padding: 20px;
}

#divFinale {
    background-color: skyblue;
    padding: 20px;
    margin-top: 20px;
}

h1 {
    margin-left: 20px;
}

input {
    width: 45px;
    height: 18px;
    border-radius: 6px;
    border: 1px solid grey;
    margin: 0px 4px 0px 4px;
}

button {
    border-radius: 4px;
    border: 1px solid grey;
    padding: 4px 12px 4px 12px;
    background: linear-gradient(white, lightgrey);
    cursor: pointer;
}